/* You can add global styles to this file, and also import other style files */

html, body {
  min-width: 100%;
  max-height: calc(100% - 64px);
  height: -o-calc(100% - 64px); /* opera */
  height: -webkit-calc(100% - 64px); /* google, safari */
  height: -moz-calc(100% - 64px);
  margin: 0;
  min-height: 100% !important;
}

h1 {
  color: black !important;
}

/* navbar */

nav {
  background-color: #1976d2 !important;
  position: fixed;
  height: 100% !important;
  width: 6em !important;
}

#search {
  height: 10%;
}

#search:focus {
  background-color: green;
  color: white;
  width: 20em;
}

button.btn {
  background-color: #63a4ff;
}




.map {
  height: 100%;
}
